<h1>
    👋 Welcome to my page. 
</h1>


<p style="line-height:36px">
    Hi, and Welcome! I'm CreativeZoller, a passionate Front-End developer from <b>Hungary</b>, 
    currently living in <b>Graz, Austria</b>, where the weather is 
    <img id="wicon" src="{{{weatherIconUrl}}}" alt="Weather icon" width="28" />
     {{weather}} and the current temperature is {{temperature}}°C, and the sunset is only at {{sunset}}.<br />
    <img src="https://komarev.com/ghpvc/?username=creativezoller&label=Profile%20views&color=0e75b6&style=flat" alt="creativezoller" />
</p>

<h3>Things I do</h3>

- 🔭 I’m currently working on **an open/source freelance rate-calculator**

- 🌱 I’m currently learning **python, react, java and some other soft-skills**

- 👯 I’m looking to collaborate on **some new projects**

- 🤝 I’m looking for help with **mentoring and coaching** for junior developers

- 📝 I regularly write articles on [medium](medium)

- 💬 I am happy to have discussions about **css3, html5, sass, linting, hooks, architect, unit testing, angular, ci**

- 📫 How to reach me: **zoltan.belicza@gmail.com**


<h3>Things I work with</h3>
<p>
    <img align="center" src="https://github-readme-stats.vercel.app/api/top-langs?username=creativezoller&show_icons=true&locale=en&layout=compact" alt="creativezoller" />
</p>
<p>
    <img alt="Awesome person" src="https://badgen.net/badge/icon/awesome?icon=awesome&label&color=green" />
    <img alt="HTML5" src="https://badgen.net/badge/icon/html5?icon=libraries&label&color=red" />
    <img alt="CSS3" src="https://badgen.net/badge/icon/css3?icon=libraries&label&color=red" />
    <img alt="JavaScript" src="https://badgen.net/badge/icon/javascript?icon=typescript&label&color=red" />
    <img alt="SQL" src="https://badgen.net/badge/icon/mysql?icon=libraries&label&color=grey" />
    <img alt="Git" src="https://badgen.net/badge/icon/git?icon=git&label" />
    <img alt="NPM" src="https://badgen.net/badge/icon/npm?icon=npm&label&color=purple" />
    <img alt="Node.js" src="https://badgen.net/badge/icon/nodejs?icon=libraries&label&color=purple" />
    <img alt="Express.js" src="https://badgen.net/badge/icon/expressjs?icon=libraries&label&color=purple" />
    <img alt="Mongodb" src="https://badgen.net/badge/icon/mongodb?icon=libraries&label&color=grey" />
    <img alt="Mariadb" src="https://badgen.net/badge/icon/mariadb?icon=libraries&label&color=grey" />
    <img alt="Firebase" src="https://badgen.net/badge/icon/firebase?icon=googleplay&label&color=grey" />
    <img alt="TravisCI" src="https://badgen.net/badge/icon/travis?icon=travis&label&color=cyan" />
    <img alt="Prettier" src="https://badgen.net/badge/icon/prettier?icon=libraries&label&color=cyan" />
    <img alt="d3js" src="https://badgen.net/badge/icon/d3js?icon=libraries&label&color=yellow" />
    <img alt="SASS" src="https://badgen.net/badge/icon/sass?icon=libraries&label&color=red" />
    <img alt="Graphql" src="https://badgen.net/badge/icon/graphql?icon=graphql&label&color=grey" />
    <img alt="Gulp" src="https://badgen.net/badge/icon/gulp?icon=libraries&label&color=purple" />
    <img alt="Grunt" src="https://badgen.net/badge/icon/grunt?icon=libraries&label&color=purple" />
    <img alt="Webpack" src="https://badgen.net/badge/icon/webpack?icon=libraries&label&color=purple" />
    <img alt="TypeScript" src="https://badgen.net/badge/icon/typescript?icon=typescript&label&color=red" />
    <img alt="Angular" src="https://badgen.net/badge/icon/angular?icon=libraries&label&color=red" />
    <img alt="React" src="https://badgen.net/badge/icon/react?icon=libraries&label&color=red" />
    <img alt="Material" src="https://badgen.net/badge/icon/sass?icon=libraries&label&color=yellow" />
    <img alt="CircleCI" src="https://badgen.net/badge/icon/circleci?icon=circleci&label&color=cyan" />
    <img alt="docker" src="https://badgen.net/badge/icon/docker?icon=docker&label" />
    <img alt="Heroku" src="https://badgen.net/badge/icon/heroku?icon=libraries&label&color=cyan" />
    <img alt="Java" src="https://badgen.net/badge/icon/java?icon=java&label&color=yellow" />
    <img alt="Photoshop" src="https://badgen.net/badge/icon/photoshop?icon=libraries&label&color=red" />
    <img alt="Figma" src="https://badgen.net/badge/icon/figma?icon=libraries&label&color=red" />
    <img alt="Terminal" src="https://badgen.net/badge/icon/terminal?icon=terminal&label&color=cyan" />
    <img alt="discord" src="https://badgen.net/badge/icon/visualstudio?icon=visualstudio&label&color=cyan" />
    <img alt="medium" src="https://badgen.net/badge/icon/medium?icon=medium&label&color=green" />
    <img alt="reddit" src="https://badgen.net/badge/icon/reddit?icon=reddit&label&color=green" />
    <img alt="slack" src="https://badgen.net/badge/icon/slack?icon=slack&label&color=green" />
</p>

{{#posts}}
<h3>My latest posts</h3>
<ul>
    <li>
        <a href="URL" style="font-weight: bold">
            <img src="SRC" width="20" alt="TITLE" /> TITLE
        </a>
        <br/>SHORT INTRO
    </li>
</ul>
{{/posts}}

<h3>Where to find me</h3>
<p>
    <a href="https://github.com/CreativeZoller" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a>
    <a href="https://x.com/BeliczaZj" target="_blank"><img alt="X (formerly Twitter) Follow" src="https://img.shields.io/twitter/follow/BeliczaZJ?style=for-the-badge&logoColor=white" /></a>
    <a href="https://www.linkedin.com/in/beliczazoltanjanos/" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>
    <a href="https://medium.com/@zolee_jackoway" target="_blank"><img alt="Medium" src="https://img.shields.io/badge/medium-%2312100E.svg?&style=for-the-badge&logo=medium&logoColor=white" /></a>
</p>

------------
<p align="center">Last refresh: {{refresh_date}}</p>
